/* * {
    margin: 0;
    padding: 0;
}
ul {

}

ul li {
list-style: none;
}

ul li a {
text-decoration: none;
}

.container {
    display: flex;
}


.navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 100vh;
    width: 200px;
}

.content-box{
    flex-grow: 1; 
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d2/Sterling_Memorial_Library_card_catalog.jpeg'); 
    background-size: cover; 
    background-position: center; 
    padding: 20px; 
    height: 100vh; 
    position: relative;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 800;
    background-color: rgba(128, 128, 128, 0.7); 
    z-index: 1; 
}

.content {
    position: relative; 
    z-index: 2;
    color: black; 
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
}
 */
body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d2/Sterling_Memorial_Library_card_catalog.jpeg'); /* Set your image path here */
    background-size: cover; 
    background-position: center; 
}

 .container {
    display: flex; 
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #333; 
    height: 100vh; 
    width: 200px; 
    transition: background-color 0.3s; 
}

.navbar a {
    color: white; 
    padding: 14px 20px; 
    text-decoration: none; 
    text-align: left; 
    transition: background-color 0.3s, color 0.3s; 
}

.navbar a:hover {
    background-color: #575757; 
    color: #ffcc00; 
}

.content-box {
    flex-grow: 1; 
    padding: 20px; 
    height: 100vh; 
    position: relative; 
}

.content {
    position: relative; 
    color: black; 
}

.overlay {
    background-color: rgba(74, 144, 226, 0.9); 
            color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            text-align: center;
}